<?xml version='1.0' encoding='utf-8'?>
<widget id="org.tee2.tricaremedicine" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>MHS</name>
    <description>
        Military Health System
    </description>
    <author email="dave.coleman@tee2.org" href="http://tee2.org">
        T2
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="Orientation" value="portrait" />
    <icon src="res/icon/tricare-logo-trans.png" />
    <platform name="android">
        <allow-intent href="market:*" />
        <splash density="port-hdpi" src="res/screen/android/screen-hdpi-portrait-narrow.png" />
        <splash density="port-ldpi" src="res/screen/android/screen-hdpi-portrait-narrow.png" />
        <splash density="port-mdpi" src="res/screen/android/screen-hdpi-portrait-narrow.png" />
        <splash density="port-xhdpi" src="res/screen/android/screen-hdpi-portrait-narrow.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <engine name="android" spec="^6.2.3" />
    <engine name="ios" spec="^4.4.0" />
    <plugin name="cordova-plugin-device" spec="^1.1.6" />
    <plugin name="cordova-plugin-geolocation" spec="^2.4.3">
        <variable name="GEOLOCATION_USAGE_DESCRIPTION" value=" " />
    </plugin>
    <plugin name="cordova-plugin-splashscreen" spec="^4.0.3" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.2" />
    <plugin name="cordova-sqlite-storage" spec="^2.0.4" />
</widget>
